Flask==2.2.2
numpy==1.23.5
onnxruntime==1.17.0
Pillow==11.2.0
skl2onnx==1.18.0

click==8.1.7
importlib-metadata==8.6.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
Werkzeug==2.2.3
flatbuffers==25.2.10
packaging==24.2
protobuf==3.20.2
onnx==1.17.0
onnxconverter-common==1.14.0
scikit-learn==1.6.1
joblib==1.4.2
scipy==1.13.1
threadpoolctl==3.6.0
typing-extensions==4.13.0
zipp==3.21.0
