/* Plein écran et centré */
.fullscreen-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #e74c3c;
    color: #fff;
    font-family: Lato, "Helvetica Neue";
    text-align: center;
}

/* Style pour le texte */
.fullscreen-container p {
    font-size: 24px;
    font-weight: 300;
    margin-top: 20px;
    text-transform: uppercase;
}

/* Loader10 ajusté pour plein écran et plus grand */
.loader10 {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: loader10m 3s ease-in-out infinite;
}

.loader10:before {
    content: "";
    position: absolute;
    top: 0;
    left: -35px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    animation: loader10g 3s ease-in-out infinite;
}

.loader10:after {
    content: "";
    position: absolute;
    top: 0;
    left: 35px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    animation: loader10d 3s ease-in-out infinite;
}

/* Animations */
@keyframes loader10g {
    0% { background-color: rgba(255, 255, 255, .2); }
    25% { background-color: rgba(255, 255, 255, 1); }
    50% { background-color: rgba(255, 255, 255, .2); }
    75% { background-color: rgba(255, 255, 255, .2); }
    100% { background-color: rgba(255, 255, 255, .2); }
}

@keyframes loader10m {
    0% { background-color: rgba(255, 255, 255, .2); }
    25% { background-color: rgba(255, 255, 255, .2); }
    50% { background-color: rgba(255, 255, 255, 1); }
    75% { background-color: rgba(255, 255, 255, .2); }
    100% { background-color: rgba(255, 255, 255, .2); }
}

@keyframes loader10d {
    0% { background-color: rgba(255, 255, 255, .2); }
    25% { background-color: rgba(255, 255, 255, .2); }
    50% { background-color: rgba(255, 255, 255, .2); }
    75% { background-color: rgba(255, 255, 255, 1); }
    100% { background-color: rgba(255, 255, 255, .2); }
}
