/* Style pour couvrir tout l'écran avec les particules */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Derrière les autres éléments de la page */
    background-color: #0a1f44; /* Couleur de fond par défaut */
}

/* Style de base pour le contenu de la page */
.content {
    position: relative;
    z-index: 1; /* Devant le fond animé */
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 17vh;
}

.content h1 {
    font-size: 2.5em;
    margin: 0;
}

.content p {
    font-size: 1.2em;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(
        to top left,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0)
    );
    box-shadow:
        inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    }

.styled:hover {
background-color: rgba(255, 0, 0, 1);
}

.styled:active {
box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@import "tailwindcss/preflight";


.box {
    text-align: center;
    line-height: 50px; /* Centre le texte verticalement */
    border: 0.5px solid white;
    font-size: 14px;
    box-sizing: border-box;
    position: absolute;
}

.foo {
    background: repeating-linear-gradient(
    to right,
    #ff0000 0px 2px,
    #000000 2px 3px
    );
}
