/* Style pour couvrir tout l'écran avec les particules */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Derrière les autres éléments de la page */
    background-color: #0a1f44; /* Couleur de fond par défaut */
}

/* Style de base pour le contenu de la page */
.content {
    position: relative;
    z-index: 1; /* Devant le fond animé */
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 7vh;
}

.content h1 {
    font-size: 2.5em;
    margin: 0;
}

.content p {
    font-size: 1.2em;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(
        to top left,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0)
    );
    box-shadow:
        inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    }

.styled:hover {
background-color: rgba(255, 0, 0, 1);
}

.styled:active {
box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@import "tailwindcss/preflight";

.box {
    text-align: center;
    line-height: 50px; /* Centre le texte verticalement */
    border: 0.5px solid white;
    font-size: 14px;
    box-sizing: border-box;
    position: absolute;
}

.foo {
    background: repeating-linear-gradient(
    to right,
    #4d4d4d 0px 1px,
    #ffffff 1px 3px
    );
}

/* classe pour responsive du bloc id=details */
.responsive-div-details {
    transform: scale(0.51); /* scale utile pour gérer les svg */

}

/* classe pour responsive du bloc div principale de la page ia */
.responsive-div {
    max-width: 100%;
    max-height: calc(615px + (644px * 0.51)); /* adapte sa hauteur selon le scale du bloc details */
}

.height-responsive {
    height: calc(644px * 0.51);
}

@media (min-width: 836px) {
    .responsive-div {
        max-width: calc(1631.97px * 0.51);
    }
}


@media (min-width: 1036px) {
    .responsive-div-details {
        transform: scale(0.63);
    }
    .responsive-div {
        max-width: calc(1631.97px * 0.63);
        max-height: calc(615px + 644px * 0.63);
    }
    .height-responsive {
        height: calc(644px * 0.63);
    }
}

@media (min-width: 1236px) {
    .responsive-div-details {
        transform: scale(0.75);
    }
    .responsive-div {
        max-width: calc(1631.97px * 0.75);
        max-height: calc(615px + (644px * 0.75));
    }
    .height-responsive {
        height: calc(644px * 0.75);
    }
}

@media (min-width: 1436px) {
    .responsive-div-details {
        transform: scale(0.87);
    }
    .responsive-div {
        max-width: calc(1631.97px * 0.87);
        max-height: calc(615px + (644px * 0.87));
    }
    .height-responsive {
        height: calc(644px * 0.87);
    }
}

@media (min-width: 1636px) {
    .responsive-div-details {
        transform: scale(1); 
    }
    .responsive-div {
        max-width: calc(1631.97px);
        max-height: calc(615px + 644px);
    }
    .height-responsive {
        height: 644px;
    }
}

