<header class="p-4">
    <nav>
        <ul class="flex justify-center gap-6 sm:flex-row sm:items-center sm:gap-4">
            <li><a href="/" class="text-white text-base px-4 py-2 rounded transition duration-300 hover:bg-gray-700/50 hover:text-gray-300">Accueil</a></li>
            <!--<li><a href="/ia_reconnaissance_chiffre" class="text-white text-base px-4 py-2 rounded transition duration-300 hover:bg-gray-700/50 hover:text-gray-300">IA</a></li>-->
            <!--<li><a href="/page_1" class="text-white text-base px-4 py-2 rounded transition duration-300 hover:bg-gray-700/50 hover:text-gray-300">Page 1</a></li>-->
        </ul>
    </nav>
</header>
